[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-bootstrap4 = "*"
wtforms = "*"
sqlalchemy = "*"
flask-wtf = "*"
email-validator = "*"
flask-sqlalchemy = "*"
flask-bootstrap = "*"
flask-login = "*"
flask-admin = "*"
flask-security = "*"

[requires]
python_version = "3.8"
